<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="attendancetaking.css">
    </head>
    <body>
        <form action="">
        <h1>Single activity attendance</h1>
        Take attendance for Group PRJ301-01 <br>
        Room: 1 <br>
        Date: 2020-10-10 Slot 1 <br>
        Attended: Yes <br>
        <table>
            <tr class="header">
                <td>NO</td>
                <td>CODE</td>
                <td>NAME</td>
                <td>IMAGE</td>
                <td>PRESENT</td>
                <td>ABSENT</td>
                <td>COMMENT</td>
                <td>TAKER</td>
                <td>RECORD TIME</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Student 1</td>
                <td>
                    <img src="../student/avatar/000001.png" alt="">
                </td>
                <td>
                    <input type="radio" name ="present1" value="present" checked>
                </td>
                <td>
                    <input type="radio" name ="present1" value="absent" >
                </td>
                <td></td>
                <td>sonnt5</td>
                <td>2020-10-10 8:55:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>Student 2</td>
                <td>
                    <img src="../student/avatar/000002.png" alt="">
                </td>
                <td>
                    <input type="radio" name ="present2" value="present">
                </td>
                <td>
                    <input type="radio" name ="present2" value="absent" checked>
                </td>
                <td></td>
                <td>sonnt5</td>
                <td>2020-10-10 8:55:00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>Student 3</td>
                <td>
                    <img src="../student/avatar/000003.png" alt="">
                </td>
                <td>
                    <input type="radio" name ="present3" value="present" checked>
                </td>
                <td>
                    <input type="radio" name ="present3" value="absent">
                </td>
                <td></td>
                <td>sonnt5</td>
                <td>2020-10-10 8:55:00</td>
            </tr>
        </table>
    </form>
    </body>
</html>
