<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="weekly_timetable.css"/>
    </head>
    <body>
        <h1>GiangNXTHE161756 (Nguyễn Xuân Trường Giang)</h1>
    <table>
        <tr class="time">
            <td>
                <label for="">Year</label>
                <select name="" id="">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022" selected>2022</option>
                </select>
            </td>
            <td>MON</td>
            <td>TUE></td>
            <td>WED</td>
            <td>THU</td>
            <td>FRI</td>
            <td>SAT</td>
            <td>SUN</td>
        </tr>
        <tr class="time">
            <td>
                Week
                <select name="Week">
                    <option value="">10/10 to 16/10</option>
                    <option value="">17/10 to 23/10</option>
                    <option value="">24/10 to 30/10</option>
                    <option value="">31/10 to 06/11</option>
                </select>
            </td>
            <td>10/10</td>
            <td>11/10</td>
            <td>12/10</td>
            <td>13/10</td>
            <td>14/10</td>
            <td>15/10</td>
            <td>16/10</td>
        </tr>
        <tr>
            <td>Slot 0</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 1</td>
            <td>
                <a href="#">IOT102-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(7:30-9:00)</p>
            </td>
            <td>-</td>
            <td>
                <a href="#">IOT102-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td></td>
            <td>
                <a href="#">IOT102-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="not_yet">(Not yet)</p>
                <p class="time-slot">(7:30-9:00)</p>
            </td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 2</td>
            <td>
                <a href="#">PRJ301-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(9:10-10:40)</p>
            </td>
            <td>-</td>
            <td>
                <a href="#">PRJ301-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(9:10-10:40)</p>
            </td>
            <td>
                <a href="#">JPD123-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C203</p>
                <p class="not_yet">(Not yet)</p>
                <p class="time-slot">(9:10-10-40)</p>
            </td>
            <td>
                <a href="#">PRJ301-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="not_yet">(Not yet)</p>
                <p class="time-slot">(9:10-10:40)</p>
            </td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 3</td>
            <td>
                <a href="#">MAS291-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td>
                <a href="#">JPD123-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C203</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td>
                <a href="#">MAS291-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p class="attended">(attended)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td>
                <a href="#">JPD123-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C203</p>
                <p class="not_yet">(Not yet)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td>
                <a href="#">MAS291-</a><a class="material" href="#">View Materials</a><br>
                <p>at DE-C205</p>
                <p  class="not_yet">(Not yet)</p>
                <p class="time-slot">(10:50-12:20)</p>
            </td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 4</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 5</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 7</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slot 8</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
    </body>
</html>
