/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 13, 2022, 8:34:06 PM
    Author     : admin
*/
.time{
    background-color: rgb(93, 121, 205);
}
a{
    text-decoration: none;
}

.material{
    background-color: orange;
    color: white;
}

.time-slot{
    display: inline;
    background-color: green;
    color: white;
}

.attended{
    color: green;
}

.not_yet{
    color: red;
}

