/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 29, 2022, 2:11:44 AM
    Author     : admin
*/
table{
    text-align: center;
}

.attended{
    color: lightgreen;
}

.absent{
    color: red;
}

.header{
    background-color: rgb(93, 121, 205);
}
